<%= form_with(model: message, url: conversation_messages_path(conversation), local: true, html: { "data-action" => "submit->conversation#handleSubmit", "data-conversation-target"=>"form" }) do |form| %>
  <div class="input-group mb-3">
    <%= form.text_area :content, class: "form-control", placeholder: "Type your message...", "data-conversation-target": "messageInput" %>
    <button class="btn btn-primary" type="submit" data-conversation-target="sendButton">Send</button>
  </div>
<% end %>