<div class="container">
  <div class="row">
    <div class="col-md-3 border-end">

    </div>
    <div class="col-md-6 border-end">
      <h1>Conversations</h1>
      <%= render @conversations %>

    </div>
    <div class="col-md-3">
      <%= render 'shared/side_bar' %>
    </div>
  </div>
</div>