<div class="d-flex align-items-start">
  <img src="https://via.placeholder.com/50" class="me-2" alt="User Avatar">
  <div>
    <h6><%= link_to(user.email, user_path(user)) %></h6>
  </div>
</div>
<%= render "relationships/relationship", user: user %>