<div class="card mb-3">
  <div class="d-flex align-items-center">
    <img src="https://via.placeholder.com/50" class="me-2" alt="Avatar">
    <h6 style="margin: 0"><%= link_to(user.email, user_path(user), style:"color:black;text-decoration:none") %></h6>
  </div>
</div>