<div class="container">
  <div class="row">
    <div class="col-md-3 border-end">
      <%= render 'users/profile_info', user: @user %>
    </div>
    <div class="col-md-6 border-end">
        <h4>Posts</h4>
        <% if !@posts.empty? %>
          <%= render @posts %>
          <%== pagy_bootstrap_nav(@pagy) %>
        <% else %>
          <p>No posts yet</p>
        <% end %>
    </div>
    <div class="col-md-3">
      <%= render 'notifications/notifications' %>
    </div>
  </div>
</div>