<script type="text/javascript">
  (function() {
    addEventListener("trix-initialize", function(e) {
      const file_tools = document.querySelector(".trix-button-group--file-tools");
      const block_tools = document.querySelector(".trix-button-group--block-tools");
      const history_tools = document.querySelector(".trix-button-group--history-tools");

      if (file_tools !== null) {
        file_tools.remove();
      }

      if (block_tools !== null) {
        block_tools.remove();
      }

      if (history_tools !== null) {
        history_tools.remove();
      }
    })
    addEventListener("trix-file-accept", function(e) {
      e.preventDefault();
    })
  })();
</script>